<div class="container-fluid">
    <div id="HOME" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p>Bajada</p>
            <h1>Titulo Principal</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis itaque sint explicabo. Illo
                voluptatibus ad nam error minus esse commodi nisi eum reiciendis natus. Adipisci minima blanditiis
                aliquam voluptatibus voluptatem.</p>
        </div>
    </div>




    <div class="row my-3">
        <div id="NOVEDADES" class="col-md-5 offset-md-2 py-3 scroll_section">
            <h2>NOVEDADES</h2>
            <ul class="Lista-Novedades">
                {{#each novedades}}
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{id}}">
                        <img src="images/novedades01.jpg">{{titulo}}</a>
                        </li>
                {{/each}}
               
            </ul>
        </div>

        {{#each novedades}}
        <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}} </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3>{{subtitulo}}</h3>
                        <p>{{cuerpo}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <div class="col-md-3 my-3">
            <div class="rounded py-5 Testimonios">
                <h2 class="text-center"> Testimonios </h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="Testimonios">
                                <h5>' La Mejor Birra del Mundo!!</h5>
                                <p>Francisco, Monte Grande </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="Testimonios">
                                <h5>' La Mejor Birra del Mundo2!!</h5>
                                <p>Flavia Gomez, Moron</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="Testimonios">
                                <h5>' La Mejor Birra del Mundo3!!</h5>
                                <p>Enzo torres Palermo</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>

        <div id="HISTORIA" class="row align-items-center py-4 scroll_section">
            <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
                <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 d-none d-sm-block">
                <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">
            </div>
            <div class="col-12 d-sm-none">
                <img src="images/historia_3.jpg" alt="historia 3" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
                <h2>Historia</h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur soluta magnam architecto voluptatem
                    assumenda eum! Accusamus commodi optio hic doloremque ipsa quae fuga, sequi pariatur vero ipsum,
                    itaque, soluta et?</p>
            </div>
        </div>

        <div id="NOSOTROS" class="row align-items-stretch my-3 staff py-4 scroll_section">
            <div class="col-lg-8 offset-lg-2">
                <h2>Nosotros</h2>
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="images/nosotros01.jpg" class="card-img-top" alt="Diana Reyes">
                            <div class="card-body">
                                <h5 class="card-title"> Diana Reyes</h5>
                                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Temporibus placeat officia fuga ut officiis aperiam mollitia obcaecati magnam rerum
                                    velit. Similique ipsam corporis dolore optio atque nisi ut quo fugit!</p>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/nosotros02.jpg" class="card-img-top" alt="Juan Gomez">
                            <div class="card-body">
                                <h5 class="card-title"> Juan Gomez </h5>
                                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Temporibus placeat officia fuga ut officiis aperiam mollitia obcaecati magnam rerum
                                    velit. Similique ipsam corporis dolore optio atque nisi ut quo fugit!</p>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/nosotros03.jpg" class="card-img-top" alt="Roberto zavala">
                            <div class="card-body">
                                <h5 class="card-title"> roberto zavala </h5>
                                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Temporibus placeat officia fuga ut officiis aperiam mollitia obcaecati magnam rerum
                                    velit. Similique ipsam corporis dolore optio atque nisi ut quo fugit!</p>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/nosotros04.jpg" class="card-img-top" alt="luciano figuero">
                            <div class="card-body">
                                <h5 class="card-title"> luciano figuero </h5>
                                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Temporibus placeat officia fuga ut officiis aperiam mollitia obcaecati magnam rerum
                                    velit. Similique ipsam corporis dolore optio atque nisi ut quo fugit!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="CONOCENOS" class="row py-4 scroll_section">
            <div class="col-md-4 offset-md-2">
                <h2> Visitanos</h2>
                <div class="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.5528703135574!2d-58.4318924847708!3d-34.590178680463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb588135b72a5%3A0xd1737e826b987390!2sBlest%20Palermo!5e0!3m2!1ses-419!2sar!4v1686282007695!5m2!1ses-419!2sar"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-4 mt-4 mt-sm-0">
                <h2> contactanos</h2>
                <form class="row g-3" action="/" method="post">
                    <div class="col-md-6">
                        <label for="nombre" class="form-label">nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="apellido" class="form-label">apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido">
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">email</label>
                        <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
                    </div>
                    <div class="col-12">
                        <label for="Tel" class="form-label">Tel </label>
                        <input type="text" class="form-control" id="Tel placeholder=..." name="tel">
                    </div>
                    <div class="col-md-6">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
                <p>{{message}}</p>
            </div>
        </div>